<div id="home-testimonials" class="section d-flex flex-column">
  <div class="m-auto">
    <h1 class="display-2 serif-heading">Hear From Our Community</h1>
    <ngb-carousel class="container" interval="3000">
      <ng-template  ngbSlide>
        <div [@slideAnim]>
          <p class="lead">"The team at Generic Music School make learning music an excellent and fun experience perfect for all skill levels."
          </p>
          <h3 class="carousel-author">Andrew Carr</h3>
        </div>
      </ng-template>
      <ng-template  ngbSlide>
        <div [@slideAnim]>
          <p class="lead">"I've been learning at Generic Music School for about 3 years and I've learn so much through such a supportive
              community."
          </p>
          <h3 class="carousel-author">Peter Parker</h3>
        </div>
      </ng-template>
    </ngb-carousel>
    <!-- <div class="carousel-inner" id="carousel-testimony">
              <div class="carousel-item active">
                
              </div>
              <div class="carousel-item">
                <div class="carousel-content">
                  <p class="lead">"The Generic Music School teachers are really passionate about music and have an understanding of how to
                    tailor lessons to meet each student's technical needs."</p>
                  <h3 class="carousel-author">Bill Gates</h3>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-content">
                  <p class="lead">"I've been learning at Generic Music School for about 3 years and I've learn so much through such a supportive
                    community."
                  </p>
                  <h3 class="carousel-author">Peter Parker</h3>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-content">
                  <p class="lead">"I've noticed serious improvements in my musical ability since attending Generic Music School. The tutors
                    are amazing and very helpful and all in all, GMS will get you where you want to go."</p>
                  <h3 class="carousel-author">Mark Zuckerberg</h3>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-content">
                  <p class="lead">"Teach music to I, Generic Music School has for me. Recommend Generic Music School, I do."</p>
                  <h3 class="carousel-author">Yoda</h3>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-content">
                  <p class="lead">"I've been learning at Generic Music School for about 3 years and I've learn so much through such a supportive
                    community."
                  </p>
                  <h3 class="carousel-author">Peter Parker</h3>
                </div>
              </div>
            </div>
          </img>
        </div> -->
  </div>
</div>
