<div class="container">
    <div>
      <h1> All Users</h1>
      <p>Find by name:</p> <input type="text" />
      <input type="submit" value="Search" />
      <a>
        Create New User
      </a>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th class="uth">
            First Name
          </th>
          <th class="uth">
            Last Name
          </th>
          <th class="uth">
            Username
          </th>
          <th class="uth">
            Email
          </th>
          <th class="uth">
            PhoneNumber
          </th>
          <th class="uth">
            Teacher
          </th>
          <th class="uth">
            Admin
          </th>
        </tr>
      </thead>
      <tbody class="utd">
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <a>Details</a> |
            <a>Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
</div>
