<div class="container">
    <h1> All Users</h1>
        Find by name: <input type="text" />
        <input type="submit" value="Search" />

    <a>
        Create New User
    </a>
    <table class="table">
        <thead>
            <tr>
                <th class="uth">
                    First Name
                </th>
                <th class="uth">
                   Last Name
                </th>
                <th class="uth">
                    Username
                </th>
                <th class="uth">
                    Email
                </th>
                <th class="uth">
                   PhoneNumber
                </th>
                <th class="uth">
                    Teacher
                </th>
                <th class="uth">
                    Admin
                </th>
            </tr>
        </thead>
        <tbody class="utd">
            <tr>
                <td class="utd">
                    
                </td>
                <td class="utd">
                   
                </td>
                <td class="utd">
                   
                </td>
                <td>
                    
                </td>
                <td>
                   
                </td>
                <td>
                   
                </td>
                <td>
                   
                </td>
                <td>
                    <a>Details</a> |
                    <a>Delete</a>
                </td>
            </tr>

        </tbody>
    </table>
</div>