<div class="content">
  <ngb-tabset>
    <ngb-tab title="Calendar">
      <ng-template ngbTabContent>
        <div class="card p-3">
         <app-calendar [model]="model" [view]="'list'"></app-calendar>
        </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="History">
          <ng-template ngbTabContent>
            <div class="card p-3">
              table
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Preferences">
              <ng-template ngbTabContent>
                <div class="card p-3">
                  table
                  </div>
                </ng-template>
              </ngb-tab>
    </ngb-tabset>


</div>
