<div class="container-fluid p-3">
  <div class="row">
    <div class="col-md-7">
      <div class="card shadow-sm p-3">
        <app-calendar [model]="model.student"></app-calendar>
      </div>
    </div>
    <div class="col-md-5">
      <div>
        <div class="card shadow-sm p-3">
          <h4>
            Past Lessons </h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Payee</th>
                <th>Status</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of bills">
                <td>{{i.date}}</td>
                <td>{{i.payee}}</td>
                <td>{{i.Status}}</td>
                <td>{{i.amount | currency}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="py-3">
        <div class="row">
            <div class="col-6">
                <div class="card shadow-sm p-3 text-center">
                  How was your last class with Mrs. Smith?
                  <div class="my-3">
                  <mat-icon class="star-1">star</mat-icon>
                  <mat-icon class="star-2">star</mat-icon>  
                  <mat-icon class="star-3">star</mat-icon>  
                  <mat-icon class="star-4">star</mat-icon>  
                  <mat-icon class="star-5">star</mat-icon>    
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card shadow-sm p-3">
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
