@import '../../../sass/_variables';

/* .table{
    font-size: 0.8rem;
} */

small {
    margin: 5px 0px;
    padding: 5px;
    background-color: #1a237e; 
    font-size: 11px;
    color: $tertiary;
}
