<div class="container-fluid p-3">
  <div class="row">
    <div class="col-md-12">
      <div class=" shadow-sm bg-white p-3 table-card">

        <div class="row mb-3">
          <div class="col d-flex">
            <h4 class=""> Recent Transactions</h4>
            <div class="flex-spacer"></div>
            <button class="btn btn-sm  btn-outline-primary dropdown-toggle">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar">
                <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                <line x1="16" y1="2" x2="16" y2="6"></line>
                <line x1="8" y1="2" x2="8" y2="6"></line>
                <line x1="3" y1="10" x2="21" y2="10"></line>
              </svg>
              This week
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <table  class="table table-borderless  ">
              <thead>
                <tr>

                  <th>Fortnight End</th>
                  <th>Pay Date</th>
                  <th>Employee No.</th>
                  <th>Rate</th>
                  <th>Hours</th>
                  <th>Value</th>
                  <th>Deductions</th>
                  <th>Total</th>
                  <th></th>
                </tr>
              </thead>
              <tr *ngFor="let i of summary">
                <td>{{ i.fortnight_end }}</td>
                <td>{{ i.paydate }}</td>
                <td>{{ i.employee_no }}</td>
                <td>{{ i.rate| currency }}</td>
                <td>{{ i.hours }}</td>
                <td>{{ i.value | currency }}</td>
                <td>{{ i.deductions | currency }}</td>
                <td>{{ i.total| currency }}</td>
                <td><div class="btn-toolbar mb-2 mb-md-0">
                  <div class="btn-group mr-2">
                    <button class="btn btn-sm btn-outline-primary">View</button>
                    <button class="btn btn-sm btn-outline-primary">Export</button>
                  </div>
                </div></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>