<mat-sidenav-container class="portal-container">
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <a mat-list-item [routerLink]="i.link" routerLinkActive="active" *ngFor="let i of navItems"> {{i.anchor}} </a>
         </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Admin Portal</a></li>
                <li class="breadcrumb-item"><a routerLink="../">Users</a></li>
                <li class="breadcrumb-item active" aria-current="page">User Details</li>
              </ol>
            </nav>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
