<mat-selection-list role="option">
  <mat-list-option *ngFor="let i of instruments">
    <img matListAvatar src="{{i.imageUrl}}" alt="...">
    <h3 matLine>{{i.name}} {{i.hireCost | currency}} per lesson </h3>
    <p matLine></p>
  </mat-list-option>
</mat-selection-list>
<div class="content-wrapper">
  <div class="flex-spacer"></div>
  <div>Total Cost: $50.00</div>
</div>
<div class="content-wrapper">
  <div class="flex-spacer"></div>
  <button mat-button>Cancel</button>
  <button mat-button>Confirm</button>
</div>