@import '../../sass/variables';

.container-fluid {
    background-image: url(/assets/violin.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.lead{
    color: $light-secondary-font-color;
    font-size: unset;
}