<div class="container ml-0 pb-5">
  <div class="row my-3">
    <div class="col-12">
      <app-user-details [title]="title" [model]="user"></app-user-details>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-12" *ngIf="user?.student">
      <app-student [permission]="user?.roles?.includes('Student')" [userId]="user?.id" [model]="user?.student"></app-student>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-12 " *ngIf="user?.teacher">
      <app-teacher [permission]="user?.roles?.includes('Teacher')" [userId]="user?.id" [model]="user?.teacher"></app-teacher>
    </div>
  </div>
</div>
