<!-- <button class="btn btn-primary mr-3" mat-button (click)="clickBack()">Back</button>
  <button button class="btn btn-primary" mat-button (click)="clickNext()">Next</button> -->
<div class="mt-3">
  <div [@shrinkInOut] class="alert alert-danger my-3" *ngIf="error">
    {{ error }}
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="media">
        <div class="media-body">
          <div>
            <img class="align-self-start mr-3 avatar-img" src="assets/avatar.png" alt="Generic placeholder image">
            <h5 class="mt-0">{{model?.name}}</h5>
            <p>{{model?.description}}</p>
            <ul class="unstyled-list">
              <li *ngFor="let i of model?.instrumentsTaught">
                {{i}}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="form-group d-flex align-items-center">
        Duration:
        <div class="form-check form-check-inline">
          <input class="form-check-input ml-3" type="radio" name="durationOption" id="inlineRadio1" value="30" (change)="durationSelected(30)"
            checked>
          <label class="form-check-label mr-3" for="inlineRadio1">30 Minutes</label>
          <input class="form-check-input" name="durationOption" type="radio" id="inlineRadio2" value="60" (change)="durationSelected(60)">
          <label class="form-check-label mr-3" for="inlineRadio2">60 Minutes</label>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="row mb-3">
        <div class="col-md-4">
          <div class="btn-group">
            <div class="btn btn-sm btn-outline-primary" (click)="view = 'month'" [class.active]="view === 'month'">
              Month
            </div>
            <div class="btn btn-sm btn-outline-primary" (click)="view = 'day'" [class.active]="view === 'day'">
              Day
            </div>
          </div>
        </div>
        <div class="col-md-4  text-center">
          <h4>{{ selectedDate | calendarDate:(view + 'ViewTitle'):'en' }}</h4>
        </div>
        <div class="col-md-4 d-flex flex-row-reverse align-self-start">
          <div class="btn-group">
            <div class="btn btn-sm btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="selectedDate">
              Previous
            </div>
            <div class="btn btn-sm  btn-dark" mwlCalendarToday [(viewDate)]="selectedDate">
              Today
            </div>
            <div class="btn btn-sm  btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="selectedDate">
              Next
            </div>
          </div>
        </div>
      </div>
      <div [ngSwitch]="view">
        <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="selectedDate" [events]="events" (dayClicked)="clickDate($event.day.date)">
        </mwl-calendar-month-view>
        <div class="day-view-wrapper" *ngSwitchCase="'day'">
          <mwl-calendar-day-view [viewDate]="selectedDate" [events]="events" [dayStartHour]="9" [dayEndHour]="20" [hourSegmentHeight]="60"
            (hourSegmentClicked)="hourClicked($event)">
          </mwl-calendar-day-view>
        </div>
      </div>
    </div>
  </div>
</div>
