<nav class="navbar navbar-expand-md navbar-dark fixed-top" id="navbar-header">
  <div class="container">
    <a id="nav-name" class="navbar-brand serif-heading" routerLink="/">GMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarCollapse" class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/book-lesson">Book a Lesson</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" pageScroll href="/index/#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" pageScroll href="/index#contact">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="userService.userName.value">
        <li class="nav-item">
          <a class="nav-link" routerLink="/user-portal">Hello {{userService.getCurrentLogin()?.firstName}}, User Portal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/teacher-portal">Teacher Portal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin-portal">Admin Portal</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/" (click)="logout()">Log out</a>
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="!userService.userName.value">
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Log in</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<ng-progress spinner="false" meteor="true" color="#a40930"></ng-progress>
<div class="body-content container-fluid p-0">
  <div class="bg-container">
    <ng-container *ngFor="let i of images">
      <img class="bg-img" [@fadeAnim] *ngIf="i.show" [src]="i.src" />
    </ng-container>
  </div>
  <div [@fadeAnim] #coverPage class="animation-container h-100">
    <div id="home-header" class="col mx-auto section light-font d-flex flex-column">
      <div class="m-auto d-inline-block">
        <h1 class="title ta-c serif-heading display-1">Generic Music School</h1>
        <h2 class="mx-auto ta-c serif-heading">The journey begins with you.</h2>

        <button matButton type="button" class="btn btn-primary mx-auto my-5 px-4 p-2  d-block" routerLink="/register">Join Now</button>
      </div>
    </div>
    <div id="home-blurb" class="section light-section d-flex  flex-column">
      <div class="container m-auto">
        <h1 class="display-2 serif-heading">It's all here at the
          <br />Generic Music School.</h1>
        <p class="lead">
          The Generic Music School creates leaders in music performance, composition, education and research. Our courses are inspiring
          and led by nationally and internationally acclaimed music professionals. Experience music lessons at their best,
          tailored for your personal experience.
          <a routerLink="#about" class="linklight"> Read our story.</a>
        </p>
      </div>
    </div>
    <app-home-services></app-home-services>
    <app-contact-us></app-contact-us>
    <app-about></app-about>
    <app-home-carousel></app-home-carousel>
    <app-footer></app-footer>
  </div>
</div>
