<div class="bg-container">
  <ng-container *ngFor="let i of images">
    <img class="bg-img" [@fadeAnim] *ngIf="i.show" [src]="i.src" />
  </ng-container>
</div>
<div [@fadeAnim] #coverPage class="animation-container h-100">
  <div id="home-header" class="col mx-auto section light-font d-flex flex-column">
    <div class="m-auto d-inline-block">
      <h1 class="title ta-c serif-heading display-1">Generic Music School</h1>
      <h2 class="mx-auto ta-c serif-heading">The journey begins with you.</h2>

      <!-- <a class="btn btn-primary  mx-auto m-5 " href="/Lesson/Book">BOOK NOW</a> -->

      <button type="button" class="btn btn-primary mx-auto my-5 p-2" href="/Session/Register">JOIN NOW</button>
    </div>
  </div>
  <div id="home-blurb" class="section light-section d-flex  flex-column">
    <div class="container m-auto">
      <h1 class="display-2 serif-heading">It's all here at the
        <br />Generic Music School.</h1>
      <p class="lead">
        The Generic Music School creates leaders in music performance, composition, education and research. Our courses are inspiring
        and led by nationally and internationally acclaimed music professionals. Experience music lessons at their best,
        tailored for your personal experience.
        <a href="/Home/About" class="linklight"> Read our story.</a>
      </p>
    </div>
  </div>
  <div id="home-services" class="section d-flex d-flex-column">
    <div class="container m-auto">
      <h1 class="display-2 serif-heading"> Our Services </h1>
      <div class="row">
        <div class="col-md-4">
          <h2 class="serif-heading">Music Theory</h2>
          <!-- Text copied from https://www.earmaster.com/music-theory-online/course-introduction.html -->
          <p class="services-p">
            Music is a very large subject, and the advanced theory that students will want to pursue after mastering the basics will
            vary greatly. A trumpet player interested in jazz, a vocalist interested in early music, a pianist interested
            in classical composition, and a guitarist interested in world music, will all want to delve into very different
            facets of music theory.
          </p>
        </div>
        <div class="col-md-4">
          <h2 class="serif-heading">Instrument Lessons</h2>
          <!-- Text copied from http://www.musicexpress.com.au/mexpress/music-lessons-brisbane.html -->
          <p class="services-p">
            What we can offer you is a list below to browse through and contact at your own leisure and make a decision that is suitable
            for you. If you can't find a suitable teacher from the list below there are plenty of databases of Music Teachers
            on-line and also plenty of resources on-line to help you make the right choices for lessons.
          </p>
        </div>
        <div class="col-md-4">
          <h2 class="serif-heading">Voice Coaching</h2>
          <!-- Text copied from http://www.mediapotential.com.au/training/voice-coaching/ -->
          <p class="services-p">
            Your voice is such an important tool for good and effective communication. Our professional voice coach has years of experience.
            We will empower you with reaching your vocal potential. Your voice needs to be clear and precise.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h2 class="serif-heading">Other Services</h2>
          <p class="services-p">We also offer a variety of other services,
            <a class="linkdark" href="~/contact.cshtml">contact us</a> to find out more </p>
        </div>
      </div>
    </div>
  </div>
  <app-contact-us></app-contact-us>
  <app-about></app-about>
  <div id="home-testimonials" class="section d-flex flex-column">
    <div class="m-auto">
      <h1 class="display-2 serif-heading">Hear From Our Community</h1>
      <div id="TestimonyCarousel" class="carousel slide" data-ride="carousel" data-interval="3500">
        <ol class="carousel-indicators">
          <li data-target="#TestimonyCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#TestimonyCarousel" data-slide-to="1"></li>
          <li data-target="#TestimonyCarousel" data-slide-to="2"></li>
          <li data-target="#TestimonyCarousel" data-slide-to="3"></li>
          <li data-target="#TestimonyCarousel" data-slide-to="4"></li>
        </ol>
        <div class="row">
          <div class="">
            <div class="carousel-inner" id="carousel-testimony">
              <div class="carousel-item active">
                <div class="carousel-content">
                  <p class="lead">"The team at Generic Music School make learning music an excellent and fun experience perfect for all skill
                    levels."
                  </p>
                  <h3 class="carousel-author">Andrew Carr</h3>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-content">
                  <p class="lead">"The Generic Music School teachers are really passionate about music and have an understanding of how to
                    tailor lessons to meet each student's technical needs."</p>
                  <h3 class="carousel-author">Bill Gates</h3>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-content">
                  <p class="lead">"I've been learning at Generic Music School for about 3 years and I've learn so much through such a supportive
                    community."
                  </p>
                  <h3 class="carousel-author">Peter Parker</h3>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-content">
                  <p class="lead">"I've noticed serious improvements in my musical ability since attending Generic Music School. The tutors
                    are amazing and very helpful and all in all, GMS will get you where you want to go."</p>
                  <h3 class="carousel-author">Mark Zuckerberg</h3>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-content">
                  <p class="lead">"Teach music to I, Generic Music School has for me. Recommend Generic Music School, I do."</p>
                  <h3 class="carousel-author">Yoda</h3>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-content">
                  <p class="lead">"I've been learning at Generic Music School for about 3 years and I've learn so much through such a supportive
                    community."
                  </p>
                  <h3 class="carousel-author">Peter Parker</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
