<div id="home-services" class="section d-flex d-flex-column">
  <div class="container m-auto">
    <h1 class="display-2 serif-heading"> Our Services </h1>
    <div class="row">
      <div class="col-md-4">
        <h2 class="serif-heading">Music Theory</h2>
        <!-- Text copied from https://www.earmaster.com/music-theory-online/course-introduction.html -->
        <p class="services-p">
          Music is a very large subject, and the advanced theory that students will want to pursue after mastering the basics will
          vary greatly. A trumpet player interested in jazz, a vocalist interested in early music, a pianist interested
          in classical composition, and a guitarist interested in world music, will all want to delve into very different
          facets of music theory.
        </p>
      </div>
      <div class="col-md-4">
        <h2 class="serif-heading">Instrument Lessons</h2>
        <!-- Text copied from http://www.musicexpress.com.au/mexpress/music-lessons-brisbane.html -->
        <p class="services-p">
          What we can offer you is a list below to browse through and contact at your own leisure and make a decision that is suitable
          for you. If you can't find a suitable teacher from the list below there are plenty of databases of Music Teachers
          on-line and also plenty of resources on-line to help you make the right choices for lessons.
        </p>
      </div>
      <div class="col-md-4">
        <h2 class="serif-heading">Voice Coaching</h2>
        <!-- Text copied from http://www.mediapotential.com.au/training/voice-coaching/ -->
        <p class="services-p">
          Your voice is such an important tool for good and effective communication. Our professional voice coach has years of experience.
          We will empower you with reaching your vocal potential. Your voice needs to be clear and precise.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h2 class="serif-heading">Other Services</h2>
        <p class="services-p">We also offer a variety of other services,
          <a class="linkdark" routerLink="#contact">contact us</a> to find out more </p>
      </div>
    </div>
  </div>
</div>