<div class="bg-white card ">
  <form method="post" #profileForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="card-header">
      <div class="d-flex align-items-start">
        <h4>{{title}}</h4>
        <div class="flex-spacer"></div>
        <div class="btn-group animation-wrapper" role="group">
          <button id="cancelButton" type="button" [@flyInOut] *ngIf="edit" class="btn btn-sm  btn-dark  px-3" (click)="edit = false">Cancel</button>
          <button type="submit" id="editButton" class="btn btn-sm  btn-primary px-3" [disabled]="edit && !profileForm.form.valid" [tabIndex]="edit ? 1 : -1">
            <span *ngIf="edit">Save</span>
            <span *ngIf="!edit">Edit</span>
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="form-row mb-3">
        <div class="col">
          <div class="profile-pic-wrapper" (mouseover)="hideUpload = false" (mouseleave)="hideUpload = true">
            <mat-icon [hidden]="hideUpload" (click)="uploadPic.click()">file_upload</mat-icon>
            <img class="profile-pic" [src]="avatarPath">
          </div>
          <input #uploadPic hidden type="file" (change)="onFileChanged($event)">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <input type="text" class="form-control" [class.form-control-plaintext]="!edit" [disabled]="!edit" placeholder="First name*"
            id="firstName" required name="firstName" #firstName="ngModel" [(ngModel)]="model.firstName" />
          <span [hidden]="firstName.valid || firstName.pristine" class="text-danger">First name is required</span>
        </div>
        <div class="form-group col">
          <input type="text" class="form-control" [class.form-control-plaintext]="!edit" [disabled]="!edit" placeholder="Last name*"
            id="lastName" required [(ngModel)]="model.lastName" name="lastName" #lastName="ngModel" />
          <span [hidden]="lastName.valid || lastName.pristine" class="text-danger">Last name is required</span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-3">
          <input type="text" class="form-control" [class.form-control-plaintext]="!edit" [disabled]="!edit" placeholder="Date of birth*"
            id="dob" required [ngModel]="model.dob | date:'yyyy-MM-dd'" (ngModelChange)="model.dob = $event" type="date" name="dob"
            #dob="ngModel" />
          <span [hidden]="dob.valid || dob.pristine" class="text-danger">Date of birth is required</span>
        </div>
      </div>
      <!--<div class="input-group">  
                <input class="form-control" [class.form-control-plaintext]="!edit" [disabled]="!edit" placeholder="dd-mm-yyyy" id="dob" required
                  [(ngModel)]="model.dob" name="dob" ngbDatepicker #dob="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-dark" [disabled]="!edit" (click)="dob.toggle()" type="button">
                    <mat-icon>event</mat-icon>
                  </button>
                </div>  -->
      <div class="form-row">
        <div class="form-group col-sm-4">
          <input type="text" class="form-control" [class.form-control-plaintext]="!edit" [disabled]="!edit" placeholder="Phone number*"
            id="phone" required [(ngModel)]="model.phoneNumber" name="phone" #phone="ngModel" />
          <span [hidden]="phone.valid || phone.pristine" class="text-danger">Phone number is required</span>
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" [class.form-control-plaintext]="!edit" [disabled]="!edit" placeholder="Address line 1*"
          id="address" required [(ngModel)]="model.addressLine1" name="address1" #address1="ngModel" />
        <span [hidden]="address1.valid || address1.pristine" class="text-danger">address line 1 is required</span>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-5">
          <input type="text" class="form-control" [class.form-control-plaintext]="!edit" [disabled]="!edit" placeholder="City/suburb*"
            id="city" required [(ngModel)]="model.city" name="city" #city="ngModel" />
          <span [hidden]="city.valid || city.pristine" class="text-danger">City is required</span>
        </div>
        <div class="col-sm-3">
          <input type="text" class="form-control" required id="state" placeholder="State" [disabled]="!edit" [class.form-control-plaintext]="!edit"
            [(ngModel)]="model.state" #state="ngModel" name="state" [ngbTypeahead]="stateSearch" />
          <span [hidden]="state.valid || state.pristine" class="text-danger">State is required</span>
        </div>
        <div class="form-group col-sm-4">
          <input type="text" class="form-control" [class.form-control-plaintext]="!edit" [disabled]="!edit" placeholder="Postcode*"
            id="postCode" required [(ngModel)]="model.postCode" name="postCode" #postCode="ngModel" />
          <span [hidden]="postCode.valid || postCode.pristine" class="text-danger">Postcode is required</span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <input type="text" class="form-control" [class.form-control-plaintext]="!edit" [disabled]="!edit" placeholder="Email*" id="email"
            required [(ngModel)]="model.email" name="email" #email="ngModel" />
          <span [hidden]="email.valid || email.pristine" class="text-danger">Email is required</span>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- <div>
  
  diagnostics :
  {{model.dob}}
</div> -->
