#editButton{
    z-index: 10;
}

#cancelButton{
    z-index: 9;
}

.profile-pic-wrapper{
    position: relative;
    max-width: 250px;
}

.profile-pic-wrapper .mat-icon{
    position: absolute;
    right: 4px;
    bottom: 4px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 2px;
}

.profile-pic{
    width: 100%;
}