<nav class="navbar navbar-expand-md navbar-dark fixed-top" id="navbar-header">
  <div class="container">
    <a id="nav-name" class="navbar-brand serif-heading" routerLink="/">GMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarCollapse" class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" routerLink="/book-lesson">Book a Lesson</a>
            </li>
        <li class="nav-item">
          <a class="nav-link" pageScroll href="/index/#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" pageScroll  href="/index#contact">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="userService.userName.value">
        <li class="nav-item">
          <a class="nav-link" routerLink="/user-portal">Hello {{userService.userName.value}}, User Portal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/teacher-portal">Teacher Portal</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin-portal">Admin Portal</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/" (click)="logout()">Log out</a>
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="!userService.userName.value">
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Log in</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-progress></app-progress>
<div class="body-content container-fluid p-0">
  <router-outlet></router-outlet>
</div>
<footer class="container py-4 light-font">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-2 d-flex flex-column">
      <h4 class="footer-list-header">Services</h4>
      <a class="generic-anchor footer-list-anchor linkdark" routerLink="Services">Instrumental Lessons</a>
      <a class="generic-anchor footer-list-anchor linkdark" routerLink="Services">Music Theory</a>
      <a class="generic-anchor footer-list-anchor linkdark" routerLink="Services">Other Services</a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2 d-flex flex-column">
      <h4 class="footer-list-header">About Us</h4>
      <a class="generic-anchor footer-list-anchor linkdark" routerLink="about">Our Story</a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2 d-flex flex-column">
      <h4 class="footer-list-header">Contact Us</h4>
      <a class="generic-anchor footer-list-anchor linkdark" routerLink="/contact-us">FAQ</a>
      <a class="generic-anchor footer-list-anchor linkdark" routerLink="/contact-us">Contact Us</a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2 d-flex flex-column ">
      <h4 class="footer-list-header">Legal</h4>
      <a class="footer-list-anchor linkdark" href="http://www9.austlii.edu.au/cgi-bin/viewdb/au/legis/cth/consol_act/coaca430/">Terms of Use</a>
      <a class="footer-list-anchor linkdark" href="http://www9.austlii.edu.au/cgi-bin/viewdb/au/legis/cth/consol_act/coaca430/">Privacy and Policy</a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 d-flex flex-column">
      <h4 class="footer-list-header">Connect With Us</h4>
      <section id="lab_social_icon_footer">
        <div class="container-social">
          <div class="text-center center-block">
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
              <i id="social-fb" class="fa fa-facebook-square fa-3x social linkdark"></i>
            </a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
              <i id="social-tw" class="fa fa-twitter-square fa-3x social linkdark"></i>
            </a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
              <i id="social-gp" class="fa fa-google-plus-square fa-3x social linkdark"></i>
            </a>
            <a href="~/Views/Home/Contact.cshtml">
              <i id="social-em" class="fa fa-envelope-square fa-3x social linkdark"></i>
            </a>
          </div>
        </div>
      </section>
    </div>
  </div>
</footer>
