<div [@fadeAnim] class="container-fluid section d-flex flex-column">
  <div class="m-auto light-font">
    <h1 class="title serif-heading display-1 mb-5" id="login-title">Welcome Back</h1>
    <form class="col-sm-9 mx-auto" method="post" #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input id="email" required 
                name="email" #email="ngModel" [(ngModel)]="login.email" class="form-control" placeholder="Email" />
        <span class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="password" id="password" required 
                name="password" #password="ngModel" [(ngModel)]="login.password" class="form-control" placeholder="Password" />
        <span class="text-danger"></span>
      </div>
      <div class="form-group d-flex">
        <div class="checkbox">
          <label>
            <input type="checkbox" /> Remember Me
          </label>
        </div>
        <div class="flex-spacer"></div>
        <a class="linkdark">Forgot your password?</a>
      </div>
      <div class="btn-group my-3">
        <button type="submit" class="btn btn-primary px-4 p-2">Log in</button>
      </div>
      <div class="social-login mt-4">
        <button class="login-btn login-btn-facebook">
          Login with Facebook
        </button>
        <button class="login-btn login-btn-google">
          Login with Google
        </button>
      </div>
      <div class="form-group">
        <p>
          Don't have an account?
          <a class="linkdark" id="no-acc">Create an account!</a>
        </p>
      </div>
    </form>
  </div>
</div>
