<div class="form-signin">
    <section>
        <form method="post">
            <h4 class="title" id="login-title">Welcome Back</h4>
            <hr />
            <div class="text-danger"></div>
            
            <div class="social-login">
                <div class="form-group">
                    <input asp-for="UserName" class="form-control" placeholder="Email" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Password" class="form-control" placeholder="Password" />
                    <span class="text-danger"></span>
                </div>
            </div>

            <div class="form-group" id="login-wrap-text">
                <div class="checkbox" id="login-wrap-first">
                    <label>
                        <input type="checkbox" /> Rembmer Me
                    </label>
                </div>
                <div id="login-wrap-second">
                    <a class="linkdark">Forgot your password?</a>
                </div>
            </div>

                <button type="submit" class="default-button d-block mx-auto">Log in</button>
            <div class="social-login">
            <button class="loginBtn loginBtn--facebook">
                Login with Facebook
            </button>

            <button class="loginBtn loginBtn--google">
                Login with Google
            </button>
            </div>


            <div class="form-group">
                <p>
                    Don't have an account? <a class="linkdark" id="no-acc">Create an account!</a>
                </p>
            </div>
        </form>
    </section>
</div>