<div class="container p-3 mx-auto">
  <div class="form-row my-3">
    <div class="col-sm-6">
      <input class="form-control " type="text" placeholder="First name">
    </div>
    <div class="col-sm-6">
      <input class="form-control  " type="text" placeholder="Last name">
    </div>
  </div>
  <div class="form-row my-3">
    <div class="col-sm-5">
      <input class="form-control mb-3 " type="text" placeholder="Username">
    <input class="form-control mb-3 " type="text" placeholder="Email">
  </div>
</div>
