<div class="container-fluid py-2 py-lg-5">
  {{model.teacher?.name}}
  {{model.date | date:'short'}}
  <div class="container">
    <mat-horizontal-stepper #stepper>
      <mat-step [completed]="step1">
        <ng-template matStepLabel>Select a Teacher</ng-template>
        <app-select-teacher [model]="teachers" (selectTeacher)="teacherSelected($event)"></app-select-teacher>
      </mat-step>
      <mat-step [completed]="step2">
        <ng-template matStepLabel>Pick a date and time</ng-template>
        <app-select-date [model]="model.teacher" (selectDate)="dateSelected()" (selectDuration)="model.duration = $event"></app-select-date>
      </mat-step>
      <!-- <mat-step [completed]="step3">
        <ng-template matStepLabel>Hire an Instrument</ng-template>
        <app-select-instrument></app-select-instrument>
      </mat-step> -->
      <mat-step [completed]="step4">
        <ng-template matStepLabel>Confirm Booking</ng-template>
        <app-confirm></app-confirm>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
