<div class="container-fluid py-2 py-lg-5">
  <div class="container">

    <mat-horizontal-stepper #stepper > 
        <!-- linear="true" -->
      <mat-step [completed]="step1">
        <ng-template matStepLabel>Select a Teacher</ng-template>
        <ng-container *ngFor="let t of teachers">
          <div (click)="clickTeacher(t)" class="media p-3">
            <img class="align-self-start mr-3 avatar-img" src="assets/avatar.png" alt="Generic placeholder image">
            <div class="media-body">
              <div>
                  <!-- (click)="t.selected = !t.selected" -->
                <h5 class="mt-0">{{t.name}}</h5>
                <p>{{t.description}}</p>
                <div class="inline-list" *ngIf="!t.selected">
                  <span *ngFor="let i of t.instruments">
                    {{i}}
                  </span>
                </div>
              </div>
              <div class="radio-list" *ngIf="t.selected">
                <div class="form-check" *ngFor="let i of t.instruments">
                  <input class="form-check-input" type="radio" name="exampleRadios" value="i">
                  <label class="form-check-label" for="exampleRadios1">
                    {{i}}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </mat-step>
      <mat-step [completed]="step2">
        <ng-template matStepLabel>Pick a date and time</ng-template>
          <div id="fullCalendar">
          </div>
          <div class="d-flex">
            <button class="btn btn-primary" mat-button (click)="clickNext()">
              Back</button>
              <div class="flex-spacer"></div>
              <button button class="btn btn-primary" mat-button (click)="clickNext()">Next</button>
            </div>
      </mat-step>
      <mat-step [completed]="step3">
        <ng-template matStepLabel>Hire an Instrument</ng-template>
        <mat-selection-list role="option">
          <mat-list-option *ngFor="let i of instruments">
            <img matListAvatar src="{{i.imageUrl}}" alt="...">
            <h3 matLine>{{i.name}} {{i.hireCost | currency}} per lesson </h3>
            <p matLine></p>
          </mat-list-option>
        </mat-selection-list>
        <div class="content-wrapper">
          <div class="flex-spacer"></div>
          <div>Total Cost: $50.00</div>
        </div>
        <div class="content-wrapper">
          <div class="flex-spacer"></div>
          <button mat-button>Cancel</button>
          <button mat-button>Confirm</button>
        </div>
      </mat-step>
      <mat-step [completed]="step2">
        <ng-template matStepLabel>Confirm Booking</ng-template>

      </mat-step>
    </mat-horizontal-stepper>
  </div>

</div>
