<app-portal-header></app-portal-header>
<div class="container-fluid portal-container">
  <div class="row">
    <div class="col-md-2 section-left"></div>
    <div class="col-md-10 section-main ">
      <app-breadcrumb></app-breadcrumb>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 section-left">
      <div class="nav flex-column">
        <a class="nav-link d-flex align-items-center py-3" routerLinkActive="active" *ngFor="let i of navItems" [routerLink]="i.link">
          <mat-icon>{{ i.icon }}</mat-icon>
          <div class="ml-4">{{ i.anchor }}</div>
        </a>
      </div>
    </div>
    <main class="col-md-10 section-main ">

      <router-outlet></router-outlet>
    </main>
  </div>
</div>
