@import '../../../sass/variables';
a {
  color: rgba(0, 0, 0, 0.7);
}

a:hover,
a.active {
  color: $accent;
}

.portal-container {
  margin-top: $portal-header-height;
  background: rgb(245, 245, 245);
  min-height: calc(100vh - #{$navbar-height});
}

main {
  
}

.input-group .mat-icon {
  height: unset;
  width: unset;
  font-size: 24px;
}
