$navbar-height:50px;
$light-primary-font-color: rgba(255, 255, 255, 0.877);
$light-secondary-font-color: rgba(249, 249, 249, 0.664);
$dark-primary-font-color: rgba(240,240,240,0.8);
$dark-secondary-font-color: rgba(240,240,240,0.6);
$section-light-bg-color: rgba(131, 131, 131, 0.068);

$primary:#000;
$secondary:#fff;
$accent:#a40930;
$tertiary:#f5f5f5;