<div class="container-fluid">
  <div class="row my-3">
    <div class="col-lg-6">
      <div class=" p-3 shadow-sm bg-white card overflow-hidden">
        <app-user-details [title]="title" [model]="user"></app-user-details>
      </div>
    </div>
    <div class="col-lg-3" *ngIf="admin">
      <div class="p-3 shadow-sm bg-white card overflow-hidden">
        <app-student [model]="studentId" *ngIf="user?.studentId"></app-student>
      </div>
    </div>
    <div class="col-lg-3 " *ngIf="admin">
      <div class="shadow-sm bg-white p-3 card overflow-hidden">
        <app-teacher [model]="teacherId" *ngIf="user?.teacherId"></app-teacher>
      </div>
    </div>
  </div>
</div>
